.login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1509822929063-6b6cfc9b42f2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80");
    background-size: cover;
    background-position: left;
    height: calc(100vh - 80px);
    &-wrapper {
        width: 300px;
        padding: 40px;
        background-color: #fff;
        box-shadow: 0 0 10px 3px rgba(0,0,0,0.2);
    }
    &-title {
        font-weight: 800;
        font-size: 24px;
        margin-bottom: 30px;
    }
    &-form-group {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        label {
            margin-bottom: 10px;
            font-weight: 600;
        }
        input {
            padding: 15px;
        }
    }
    &-btn {
        padding: 15px 30px;
            background-color: rgb(13, 46, 196);
            color: #fff;
            border: 0;
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 20px;
    }
    .register-btn {
        outline: 1px solid rgb(13, 46, 196);
        background-color: transparent;
        color: #000;
        margin-bottom: 0px;
    }
}